{% extends '../base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<style>
.form-control {
    padding: 10px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
}
</style>
<div class="container">
    <h3>Restablecimiento de Contraseña</h3>
    <p>¿Olvidó su contraseña? Ingrese su dirección de correo electrónico a continuación y le enviaremos instrucciones para establecer una nueva.</p>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.email|add_class:"form-control" }}
        </div>
        <button type="submit" class="btn btn-primary">Entregar</button>
    </form>
</div>
{% endblock %}